In [1]:
import pandas as pd

In [13]:
def split_data(df):
    processed_dfs = []
    grouped = df.groupby('Country')
    
    for country, country_data in grouped:
        testdata = country_data.copy()
        
        testdata['Previous_GDP'] = testdata['GDP'].shift()
        testdata['Per_GDP'] = ((testdata['GDP'] - testdata['Previous_GDP']) / testdata['Previous_GDP']) * 100
        
        testdata['Previous_HHD'] = testdata['Household debt'].shift(1)
        testdata['Per_HHD'] = ((testdata['Household debt'] - testdata['Previous_HHD']) / testdata['Previous_HHD']) * 100
        
        processed_dfs.append(testdata)
    
    final_df = pd.concat(processed_dfs, ignore_index=True)
    
    below70 = final_df[final_df ["Household debt"] < 70].copy()
    above70 = final_df[final_df ["Household debt"] >= 70].copy()
    below70.to_excel("below70Data.xlsx", index=False)
    above70.to_excel("above70Data.xlsx", index=False)
    return below70

In [14]:
df = pd.read_excel('/Users/bram/Desktop/Honors Economics/Results/Data/FirstStepData.xlsx')

In [16]:
aa = split_data(df)
aa[aa['Country']== 'United States']
# below70
# below70[below70['Per_GDP']> 100]

,TIME_PERIOD,Code,private debt,Household debt,policy rate,Country,Exchange Rate,GDP,Previous_GDP,Per_GDP,Previous_HHD,Per_HHD
2966,1954-09-30,US,31.5,29.8,1.043333,United States,1.0,7.201205e+05,NaN,NaN,NaN,NaN
2967,1954-12-31,US,31.7,30.8,1.316667,United States,1.0,7.342130e+05,720120.50,1.956964,29.8,3.355705
2968,1955-03-31,US,31.5,31.1,1.440000,United States,1.0,7.551865e+05,734213.00,2.856596,30.8,0.974026
2969,1955-06-30,US,31.7,32.2,1.690000,United States,1.0,7.674775e+05,755186.50,1.627545,31.1,3.536977
2970,1955-09-30,US,31.6,32.7,1.980000,United States,1.0,7.778448e+05,767477.50,1.350830,32.2,1.552795
...,...,...,...,...,...,...,...,...,...,...,...,...
3145,1999-06-30,US,63.2,68.1,4.833333,United States,1.0,3.356687e+06,3328899.25,0.834743,67.5,0.888889
3146,1999-09-30,US,64.3,68.8,5.166667,United States,1.0,3.401193e+06,3356687.00,1.325883,68.1,1.027900
3147,1999-12-31,US,64.5,69.5,5.416667,United States,1.0,3.456995e+06,3401192.75,1.640667,68.8,1.017442
3148,2000-03-31,US,65.3,69.5,5.750000,United States,1.0,3.469537e+06,3456995.00,0.362793,69.5,0.000000
3149,2000-06-30,US,66.0,69.7,6.333333,United States,1.0,3.532727e+06,3469536.75,1.821288,69.5,0.287770

In [17]:
testdata = df.copy()
testdata['Previous_GDP'] = testdata['GDP'].shift()
testdata['Per_GDP'] = ((testdata['GDP'] - testdata['Previous_GDP']) / testdata['Previous_GDP']) * 100
testdata['Previous_HHD'] = testdata['Household debt'].shift(1)
testdata['Per_HHD'] = ((testdata['Household debt'] - testdata['Previous_HHD']) / testdata['Previous_HHD']) * 100
below70 = testdata[testdata["Household debt"] < 70].copy()

In [19]:
below70[below70['Per_GDP']> 100]

,TIME_PERIOD,Code,private debt,Household debt,policy rate,Country,Exchange Rate,GDP,Previous_GDP,Per_GDP,Previous_HHD,Per_HHD
350,1995-03-31,IL,56.3,33.6,16.033333,Israel,2.999233,1.374021e+05,4.461470e+04,207.974941,42.7,-21.311475
967,1991-03-31,DE,54.9,50.4,8.533333,Germany,1.530700,5.177338e+05,7.087100e+04,630.529818,91.3,-44.797371
1112,1998-12-31,MX,21.5,8.8,33.755000,Mexico,10.017133,4.152183e+06,3.285473e+05,1163.800628,35.3,-75.070822
1552,1995-03-31,HU,39.5,8.2,27.000000,Hungary,113.128067,4.838682e+06,3.928814e+04,12215.882776,44.0,-81.363636
2004,1954-09-30,US,31.5,29.8,1.043333,United States,1.000000,7.201205e+05,1.980423e+05,263.619457,127.7,-76.664056
2401,2005-09-30,ID,18.9,11.9,9.083333,Indonesia,9994.533333,1.301458e+06,5.864424e+05,121.924315,88.1,-86.492622
2579,1994-03-31,JP,143.8,68.9,1.750000,Japan,107.619717,1.115596e+08,7.449090e+05,14876.269048,91.6,-24.781659
2729,2002-12-31,CL,90.4,22.6,3.000000,Chile,717.916667,2.593882e+07,1.161049e+06,2134.084213,34.6,-34.682081
3132,2000-03-31,KR,89.1,47.9,4.916667,"Korea, Rep. of",1125.686667,2.435731e+08,6.166953e+05,39396.504869,10.5,356.190476